.dashboardnavbar-div {
  width: 100%;
  background: darken($secondGoldColor, 10);
  display: flex;
  flex-direction: column;
  z-index: 99;
  padding: 0;

  .harmbuger-div {
    position: relative;
    width: 100%;
    height: 2rem;
    display: none;
    background-color: transparent;

    i {
      position: absolute;
      right: 2rem;
      top: 0.2rem;
      color: $whiteColor;
      font-size: 1.7rem;
    }
  }
}

.dashboardnavbar {
  width: 100%;
  background: darken($secondGoldColor, 10);
}
.dashboard-ul {
  display: flex;
  list-style-type: none;
  // height: 80%;

  .dashboard-li {
    display: block;
    margin: 0.2rem 1rem;
    height: 100%;

    a {
      display: block;
      width: 100%;
      height: 100%;
      color: $blackColor;
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: 400;
      text-align: center;
      padding: 0rem;
      @include easeTrans();

      &:hover {
        color: $whiteColor;
        text-decoration: underline;
      }

      i {
        display: block;
        margin-right: 0.3rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .dashboardnavbar-close {
    display: none;
    overflow: hidden;
  }
  .dashboardnavbar-div {
    width: 100%;
    position: relative;
    background: darken($secondGoldColor, 10);

    .harmbuger-div {
      position: relative;
      width: 100%;
      height: 2.5rem;
      display: block;

      i {
        position: absolute;
        right: 1rem;
        top: 0.5rem;
        color: $whiteColor;
        font-size: 1.5rem;
      }
    }
  }

  .dashboardnavbar {
    width: 100%;
    background: darken($secondGoldColor, 10);
  }
  .dashboard-ul {
    display: block;
    list-style-type: none;

    .dashboard-li {
      display: block;
      margin: 0.5rem;

      a {
        display: block;
        width: 100%;
        color: $blackColor;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
        padding: 0.3rem;
        @include easeTrans();

        ul {
          display: none;
          overflow: hidden;
        }

        &:hover {
          background: rgba($whiteColor, 0.3);

          ul {
            display: block;

            li {
              a {
                background: $whiteColor;
                color: $blackColor;

                &:hover {
                  background: $blackColor;
                  color: $goldColor;
                }
              }
            }
          }
        }

        i {
          display: block;
          margin-right: 0.5rem;
        }
      }
    }
  }
}
