.dashboard-wrapper {
}

.dashboard-top {
  height: 30vh;
  background: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)),
    url(../images/hoomage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  .greeting-text {
    color: $whiteColor;
    font-size: 2.4rem;
    font-weight: 300;
  }
}

.dashboard-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 250px));
  gap: 1rem;
  background: chocolate;

  .dashboard-menu {
    width: 150px;
    height: 150px;
    background: cyan;
  }
}
