.dashboard-wrapper {
  padding: 2rem 1rem;
  width: 90%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
