.single-checkbox-div {
  width: auto;

  .single-form-label {
    display: inline-block;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;

    color: $blackColor;
  }

  .checkbox-field {
    width: 1.4rem;
    height: 1.4rem;
  }
}

.star-rating {
  margin: 2rem 0;

  label {
    font-weight: 500;
    font-size: 1.5rem;
  }
  select {
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
  }
}

.btn-continue {
  padding: 1rem 3rem;
  font-size: 1.6rem;
  background: $blackColor;
  color: $whiteColor;
  border: none;
}

// #isChained,
// #isNotChained {
//   display: block;
// }

.form-item {
  input {
    width: 80%;
    height: 2.5rem;
    margin-left: 1rem;
  }
}

.add-room-btn {
  font-size: 1.5rem !important;
  text-decoration: underline !important;
  cursor: pointer !important;
  color: #ff8c00 !important;
}
