// .add-hotel-section {
//   padding: 2rem 0.5rem;
//   width: 100%;

//   p {
//     font-size: 1.5rem;
//   }
// }

.hotel-fieldset {
  h1 {
    color: $goldColor;
  }
}

.register-1,
.register-2 {
  margin-top: 2rem;
  font-size: 1.4rem;

  p {
    font-size: 1.5rem;
  }
}

.hotelDescription {
  display: block;
  width: 100%;
  height: 80px;
}

.custom-field {
  display: block;
  width: 90%;
  height: 2.5rem;
  outline-color: $blackColor;
  @include easeTrans();

  &:hover {
    outline-color: $goldColor;
  }
}

@media screen and (max-width: 768px) {
  .custom-field {
    display: block;
    width: 100%;
    height: 2.5rem;
    outline-color: $blackColor;
    @include easeTrans();

    &:hover {
      outline-color: $goldColor;
    }
    &:active {
      outline-color: $goldColor;
    }
  }
}
