// .add-hotel-section {
//   padding: 2rem 0.5rem;
//   width: 100%;

//   p {
//     font-size: 1.5rem;
//   }
// }

.hotel-fieldset {
  h1 {
    color: $goldColor;
  }
}

.register-1,
.register-2 {
  margin-top: 2rem;
  font-size: 1.4rem;

  p {
    font-size: 1.5rem;
  }
}
