$whiteColor: #fff;
$goldColor: #d39000;
$secondGoldColor: #c4bda3;
$blackColor: #04070e;

@mixin easeTrans {
  transition: all 0.6s ease-in;
}
@import "./addhotels.scss";
@import "./addroom.scss";
@import "./custombutton.scss";
@import "./dashboardnavbar";
@import "./reservations";
@import "./dashboarditem";
@import "./dashboardhomepage";
@import "./review";
@import "./managerooms";
@import "./singlehotellandingpage";
@import "./awaitinghotels";
@import "./hoteldetails";
@import "./approvedhotels";
@import "./opportunity";
@import "./report";
@import "./booking";
@import "./finance";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// html {
//   font-size: 12px;
// }

.custom-shadow {
  box-shadow: 0px 0px 0.8rem rgba($blackColor, 0.3);
}

.gold {
  color: $goldColor;
}
.form-field {
  outline-color: $goldColor !important;
}

.wrapper {
  min-height: 60vh;
}

.button-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-div {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $goldColor;
}

.scroll-div {
  overflow-x: scroll;
}

.cursor{
  cursor: pointer;
}