$whiteColor: #fff;
$goldColor: #d39000;
$secondGoldColor: #c4bda3;
$blackColor: #04070e;

@mixin easeTrans {
  transition: all 0.6s ease-in;
}
@import "./singleform";
@import "./addhotels.scss";
@import "./addroom.scss";
@import "./custombutton.scss";
@import "./dashboardnavbar";
@import "./reservations";
@import "./dashboarditem";
@import "./dashboardhomepage";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

.custom-shadow {
  box-shadow: 0px 0px 1rem rgba($blackColor, 0.3);
}

.gold {
  color: $goldColor;
  font-size: 2rem;
}
.form-field {
  outline-color: $goldColor !important;
}

.wrapper {
  min-height: 60vh;
}

.button-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
